body{
    background-color: antiquewhite;
    margin: 0;
}

.hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo{
    font-size: 30px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(86, 35, 117);
    display: flex;
    align-items: center;
    gap:10px;
}
.logo img{
    width: 50px;
    height: 50px;
}

.nav{
    display: flex;
    gap:20px;
}
.nav a{
    color: rgb(86, 35, 117);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
.nav :hover{
    color: rgb(246, 18, 18);
}
